@import "mixin";
.layout{
  background: $white;
}
.news-teaser{
  background: repeating-linear-gradient(-60deg, #dbdbdb 0, #dbdbdb 1px, transparent 1px, transparent 5px);
  .layout--twocol-section--25-75{
    .layout__region--first{
      flex: 0 1 15%;
      .field--name-changed{
        visibility: hidden;
      }
    }
    .layout__region--second{
      border-left: 1px solid $gray;
      padding-left: 20px;
      .node-readmore{
        @include btn;
        float:right;
        color: #373645;
        a{
          color: $white;
          text-transform: uppercase;
        }
      }
    }
  }

  .block-field-blocknodenewstitle{
    text-transform: uppercase;
    color: $maintxt;
    font-size: 26px;
  }
  .layout--threecol-section--25-50-25{
    .layout__region--second{
      display: flex;
      font-size: 11px;
      .field--name-field-news-profession{
        margin: 0 3px 0 11px;
        color: $gray;
      }
      .field--name-field-news-image{

        border-left: 1px solid $gray;
        padding-left: 20px;
      }
      .field--name-field-name{
        color: #373645;

      }
    }
    .layout__region--third{
      .field--name-field-news-date{
        text-transform: uppercase;
        color: $gray;
        font-size: 11px;
      }
    }
    .layout__region--first{
      display: flex;
      flex: 0 1 15%;
      flex-direction: column;
        section:first-child {
          font-size: 31px;
          margin: -5px 0 0px 0px;
          text-align: center;
          color: #373645;
        }
        section:nth-child(2){
          font-size: 52px;
          margin: -17px 0 0 0px;
          text-align: center;
          color: #6e9bca;
          font-weight: bold;
        }
      section:nth-child(3){
        font-size: 18px;
        text-align: center;
        color: $gray;
        margin: -25px 4px 0 0;
      }
    }
  }

}

